# --------------------------------------------------------------------------
# General Build/Generated Folder Exclusion
# --------------------------------------------------------------------------
Builds/
.vs/

# --------------------------------------------------------------------------
# Visual Studio / C++ Artifacts
# --------------------------------------------------------------------------
# Files that caused the "Large files detected" error:
*.ipch
*.VC.db

# Other common Visual Studio artifacts
*.suo
*.user
*.pdb
*.obj
*.aps
*.ncb
*.tlog
*.log
*.sdf
*.idb
*.iobj
*.o

# Executables, Libraries, and Deployment Files
[Bb]in/
[Oo]bj/
*.exe
*.dll
*.lib
*.exp
*.ilk
*.dylib
*.so
*.a
*.app